# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
var/
.idea/

# pyenv
.python-version

# Environments
.venv
venv/
venv.bak/
.mypy_cache/
/venv/

