    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    li {
        font-size: 1em;
    }

    h6 {
        font-size: 1.3em;
    }

    p {
        font-size: 1em;
    }

    #title {
        display: flex;
        justify-content: center;
    }

    #papy {
        height: 230px;
        width: 230px;
    }

    #loader {
        height: 90px;
        width: 90px;
    }

/* Center the form section */
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        justify-content: space-around;
    }

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
   #map {
      height: 600px;
      width: 800px;
      display: none;
      margin-left: auto;
      margin-right: auto;


     }

   #map.display {
     display: block;
   }

   footer {
      bottom: 0;
      width: 100%;
      position: absolute;

  }


/* Responsive design. */
    @media screen and (max-width: 1024px)
    {
        #map
         {
          height: 500px;
          width: 500px;
          margin-left: auto;
          margin-right: auto;
          }

        h6
        {
            font-size: 1.1em;
        }


/* Mobile design. */
    @media screen and (max-width: 750px)
    {

        #map
        {
          height: 400px;
          width: 400px;
        }

        h1
        {
            font-size: 2em;
        }

        h2
        {
            font-size: 1.4em;
        }

        #papy
        {
            height: 100px;
            width: 100px;
        }

        #loader
        {
            height: 50px;
            width: 50px;
        }

        footer
        {
            position: static;
        }

        #map
       {
           height: 300px;
           width: 300px;

       }
    }








